
/* ======== All Questions ======== */
form {
    margin-top: 3%;
}

.prompt {
    margin-top: 10%;
}

.options, .label{
    text-align: center;
}

label > input { /* HIDE RADIO */
    display: none;
}

.textAnswer {
    @extend .about;
}

.textAnswer:hover, .selected_btn {
    border-color: $dark-blue;
}

.continue:before {
    content: " ";
    display: block;
}

.continue {
    bottom: 0px;
    display: none;
    background-color: $main-purple;
    font-weight: 900;
    border: 3px solid $cream;
}

.question {
    //position: relative;
    overflow: hidden;
}

.question > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: auto;
    opacity: 0.28;
    z-index: -1;
}

.question h1 {
    color: $dark-blue;
}

.question h2 {
    color: #026572;
}
