/* ======== All Questions ======== */
#questions_container {
    margin-top: 10%;
}

form {
    margin-top: 3% auto 0 auto;
    & > button {
        
    }
}

.prompt {
    margin-top: 10%;
}

.options, .label{
    text-align: center;
}
label {
    float: left;
    width: 50%;
    & > input { /* HIDE RADIO */
        display: none;
    }
}

.textAnswer {
    @extend .about;
    
    width: 40%;
    min-height: 75px;
    height: auto;
    margin: 12% 15% 0 35%;
    
    font-size: $text-size*1.1;
    
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    
    .sub-info {
        display: block;
        font-size: $text-size*0.5;
        line-height: 150%;
    }
}
                                    /// fix this effffing thing
.double-choice > form {
    label:nth-child(2) > button.textAnswer {
        margin: 12% 35% 0 15% !important;
    }
}

.triple-choice form {
    label {
        width: 33%;
        &:nth-child(3) > p {
            width: 70%;
            margin: 0 auto;
            font-size: $text-size*0.7;
        }
    }
    .textAnswer {
        min-height: 200px;
        width: 80%;
        margin: 12% 10% 0;
    }
}

.textAnswer:hover, .selected_btn {
    border-color: $dark-blue;
}

.question {
    //position: relative;
    overflow: hidden;
}

.question > #main img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: auto;
    opacity: 0.28;
    z-index: -1;
}

.question h1 {
    color: $dark-blue;
}

.question h2 {
    color: #026572;
}
