
/* ======== Side Navigation ======== */
.side {
    display: block;
    margin-top: 1.5%;
    border-radius: 50%;
    width: $text-size/1.5;
    height: $text-size/1.5;
    font-size: $btn-text;
    background-color: $cream;
    border: 2px solid $dark-blue;
    font-family: sans-serif;
    line-height: 10px;
}

.nav_btn {
    @extend .side;
    margin-left: 90%;
    
    &:first-child {
        margin-top: 100%;
    }
}
.past_nav_btn {
    background-color: $dark-blue;
}
