
/* ======== Variables ======== */
$main-green: #a5e8c8;
$main-purple: #51456c;
$main-blue: #2ebdd1;
$dark-blue: #028496;
$cream: #f5f5f5;
$btn-back: #7c8093;

@font-family: 'Hind Vadodara';
$font-family: 'Hind Vadodara';
$question-size: 45px;
$main-size: 90px;
$text-size: 1.4em;
$btn-text: 23px;
$arrow-text: 17px;
$modal: 400px;
