/* ======== Main Syling ======== */
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ======== Variables ======== */
@font-family : 'Hind Vadodara';
/* ======== General Styling ======== */
/* line 4, ../sass/_general.scss */
.header {
  width: 100%;
  height: 85px;
  background-color: white;
  text-align: center;
  border-bottom: 2px solid #ddd;
  overflow: hidden;
}

/* line 13, ../sass/_general.scss */
.footer {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  text-align: right;
  background-color: #ddd;
  border-top: 2px solid white;
}

/* line 23, ../sass/_general.scss */
.footer p {
  font-family: "Hind Vadodara";
  font-size: 16px;
  color: black;
  text-align: right;
  padding: 5px 7%;
}

/* ======== Fonts + Printing ======== */
/* line 32, ../sass/_general.scss */
h1 {
  color: #eaeaea;
  font-family: "Hind Vadodara";
  font-size: 90px;
  font-family: "Hind Vadodara";
  padding-top: 23px;
}

/* line 41, ../sass/_general.scss */
h2 {
  text-align: center;
  color: #bbb;
  font-family: "Hind Vadodara";
  font-size: 2.1em;
  padding: 15px 0px;
}

/* line 50, ../sass/_general.scss */
p {
  text-align: center;
  color: black;
  font-family: "Hind Vadodara";
  font-size: 1.4em;
}

/* line 57, ../sass/_general.scss */
em {
  font-weight: 700;
}

/* ======== Modal windows ======== */
/* line 3, ../sass/_modal.scss */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  color: black !important;
}
/* line 18, ../sass/_modal.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
/* line 23, ../sass/_modal.scss */
.modalDialog > div {
  width: 440.0px;
  height: 400px;
  position: relative;
  top: 130px;
  border-radius: 3%;
  margin: auto;
  background: white;
  box-sizing: padding-box;
}
/* line 33, ../sass/_modal.scss */
.modalDialog > div > div {
  position: relative;
  top: 20px;
  margin: 50px 40px 0px 40px;
}
/* line 38, ../sass/_modal.scss */
.modalDialog > div > div > * {
  color: #343434;
}
/* line 41, ../sass/_modal.scss */
.modalDialog > div > div > p {
  margin-bottom: 13px;
  font-family: "Hind Vadodara";
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}
/* line 48, ../sass/_modal.scss */
.modalDialog > div > div > p a {
  color: #2ebdd1;
  text-decoration: none;
  font-weight: bold;
}
/* line 53, ../sass/_modal.scss */
.modalDialog > div > div > p a:hover {
  color: #028496;
  text-decoration: underline;
}
/* line 61, ../sass/_modal.scss */
.modalDialog > div > h2 {
  color: #343434;
  font-size: 45px;
}

/* ======== Close buttons of modal ======== */
/* line 71, ../sass/_modal.scss */
.close {
  background: #2ebdd1;
  color: #f5f5f5;
  font-family: "Hind Vadodara";
  line-height: 35px;
  position: absolute;
  text-align: center;
  right: 15px;
  width: 35px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
/* line 87, ../sass/_modal.scss */
.close:hover {
  background: #028496;
}

/* ======== Side Navigation ======== */
/* line 3, ../sass/_side_buttons.scss */
.side, .nav_btn {
  display: block;
  margin-top: 1.5%;
  border-radius: 50%;
  width: 0.93333em;
  height: 0.93333em;
  font-size: 23px;
  background-color: #f5f5f5;
  border: 2px solid #028496;
  font-family: sans-serif;
  line-height: 10px;
}

/* line 16, ../sass/_side_buttons.scss */
.nav_btn {
  margin-left: 90%;
}
/* line 20, ../sass/_side_buttons.scss */
.nav_btn:first-child {
  margin-top: 100%;
}

/* line 24, ../sass/_side_buttons.scss */
.past_nav_btn {
  background-color: #028496;
}

/* ======== Home Page ======== */
/* line 3, ../sass/_homepage.scss */
#home {
  background-color: #026572;
}

/* line 7, ../sass/_homepage.scss */
#title {
  text-align: center;
  padding-top: 50px;
}

/* line 12, ../sass/_homepage.scss */
#homepage {
  text-align: center;
  top: 90px;
}

/* line 17, ../sass/_homepage.scss */
.read, .articles, .start, .about, .textAnswer {
  display: inline-block;
  vertical-align: top;
  margin: 20px 5px;
  background-color: #2ebdd1;
  text-decoration: none;
  line-height: 40px;
  font-size: 17px;
  color: white;
  border: 2px solid #2ebdd1;
  font-family: "Hind Vadodara";
  box-sizing: border-box;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  border-radius: 7%;
}

/* line 34, ../sass/_homepage.scss */
.read:hover, .articles:hover, .start:hover, .about:hover, .textAnswer:hover {
  cursor: pointer;
  border-color: #028496;
}

/* line 39, ../sass/_homepage.scss */
.articles {
  color: black;
  background-color: white;
  border-color: #ddd;
  margin-right: 20%;
}

/* line 47, ../sass/_homepage.scss */
.logo {
  height: 50px;
  padding-top: 20px;
}

/* line 52, ../sass/_homepage.scss */
.abt, .community, .blog {
  display: inline-block;
  vertical-align: top;
  margin: 35px 15px 0px 15px;
  text-decoration: none;
  color: black;
  font-family: "Hind Vadodara";
  font-size: 17px;
}

/* line 62, ../sass/_homepage.scss */
.abt {
  margin-left: 20%;
}

/* line 66, ../sass/_homepage.scss */
.abt:hover, .community:hover, .blog:hover {
  color: #2ebdd1;
}

/* line 70, ../sass/_homepage.scss */
.start, .about, .textAnswer, .about, .textAnswer {
  margin-top: 5%;
}

/* line 74, ../sass/_homepage.scss */
.start, .about, .textAnswer {
  border-width: 4px;
  font-size: 23px;
  padding: 2px 10px;
  background-color: #ddd;
  border-color: white;
  color: black;
  width: 12%;
  height: 60px;
  margin: 5%;
}

/* line 88, ../sass/_homepage.scss */
.about, .textAnswer {
  background-color: #2ebdd1;
  border-color: white;
}
/* line 92, ../sass/_homepage.scss */
.about a, .textAnswer a {
  color: white;
  text-decoration: none;
}

/* line 98, ../sass/_homepage.scss */
.start:hover, .about:hover, .textAnswer:hover, .about:hover, .textAnswer:hover {
  border-color: #01414a;
}

/* ======== All Questions ======== */
/* line 2, ../sass/_all_questions.scss */
#questions_container {
  margin-top: 10%;
}

/* line 6, ../sass/_all_questions.scss */
form {
  margin-top: 3% auto 0 auto;
}

/* line 13, ../sass/_all_questions.scss */
.prompt {
  margin-top: 10%;
}

/* line 17, ../sass/_all_questions.scss */
.options, .label {
  text-align: center;
}

/* line 20, ../sass/_all_questions.scss */
label {
  float: left;
  width: 50%;
}
/* line 23, ../sass/_all_questions.scss */
label > input {
  /* HIDE RADIO */
  display: none;
}

/* line 28, ../sass/_all_questions.scss */
.textAnswer {
  width: 40%;
  min-height: 75px;
  height: auto;
  margin: 12% 15% 0 35%;
  font-size: 1.54em;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
}
/* line 42, ../sass/_all_questions.scss */
.textAnswer .sub-info {
  display: block;
  font-size: 0.7em;
  line-height: 150%;
}

/* line 50, ../sass/_all_questions.scss */
.double-choice > form label:nth-child(2) > button.textAnswer {
  margin: 12% 35% 0 15% !important;
}

/* line 56, ../sass/_all_questions.scss */
.triple-choice form label {
  width: 33%;
}
/* line 58, ../sass/_all_questions.scss */
.triple-choice form label:nth-child(3) > p {
  width: 70%;
  margin: 0 auto;
  font-size: 0.98em;
}
/* line 64, ../sass/_all_questions.scss */
.triple-choice form .textAnswer {
  min-height: 200px;
  width: 80%;
  margin: 12% 10% 0;
}

/* line 71, ../sass/_all_questions.scss */
.textAnswer:hover, .selected_btn {
  border-color: #028496;
}

/* line 75, ../sass/_all_questions.scss */
.question {
  overflow: hidden;
}

/* line 80, ../sass/_all_questions.scss */
.question > #main img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  height: auto;
  opacity: 0.28;
  z-index: -1;
}

/* line 91, ../sass/_all_questions.scss */
.question h1 {
  color: #028496;
}

/* line 95, ../sass/_all_questions.scss */
.question h2 {
  color: #026572;
}

/* ======== Final page ======== */
/* line 4, ../sass/_final.scss */
#finalside {
  margin-left: 12px;
}

/* line 12, ../sass/_final.scss */
#results div {
  margin-top: 5%;
}
/* line 14, ../sass/_final.scss */
#results div img {
  width: 30%;
  float: left;
  margin: 0.5% 3% 0 0;
  max-height: 190px;
  max-width: 283.5px;
}
/* line 21, ../sass/_final.scss */
#results div h2 {
  text-align: left;
  color: #028496;
}
/* line 25, ../sass/_final.scss */
#results div p {
  text-align: left;
  line-height: 1.3em;
}
/* line 28, ../sass/_final.scss */
#results div p:last-child {
  margin-top: 0.3em;
}
